img{
    padding: 20px;
}

body {
  background-color: #2F4F4F;
}

body {
  color: white;
}

h1 {
  color: white;
}

.header {
  background-color: #F1F1F1;
  text-align: center;
  padding: 20px;
}