img{
    padding: 20px;
}

body {
  background-color: #2F4F4F;
}

body {
  color: white;
}

h1 {
  color: #2F4F4F;
}

.header {
  background-color: #8FBC8F;
  text-align: center;
  padding: 20px;
}

h2 {
  padding-top: 10px;
  padding-right: 40px;
  padding-bottom: 10px;
  padding-left: 40px;
}

p {
  padding-top: 10px;
  padding-right: 40px;
  padding-bottom: 20px;
  padding-left: 40px;
}